a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

header {
  max-width: 1080px;
  margin: 0 auto;
}

header .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
}

header .top > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

header .title {
  font-size: 30px;
  margin-right: auto;
}

header ul {
  display: flex;
}

header ul li {
  padding: 0 30px;
}

header ul a {
  padding: 20px 0;
  color: #666;
  border-bottom: 5px solid transparent;
  transition: all 0.3s;
}

header ul a:hover {
  color: black;
  border-color: black;
}

.search {
  width: 200px;
  height: 30px;
  position: relative;
}

.search input {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 0 33px 0 10px;
  box-sizing: border-box;
}

.search button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
}

.search img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.wrapper {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}

main {
  flex: 1;
  padding-top: 60px;
  padding-right: 40px;
}

aside {
  width: 230px;
  padding: 60px 40px;
  border-left: 1px solid #eee;
}

aside h3 {
  color: #666;
}

.counter .total div:nth-child(1) {
  font-size: 16px;
}

.counter .total div:nth-child(2) {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px;
}

.counter .today,
.counter .yesterday {
  color: gray;
}

.tagbox {
  margin-bottom: 30px;
  font-size: 14px;
  color: gray;
  line-height: 1.6;
}

.tagbox h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.recent-reply {
  margin-bottom: 30px;
  font-size: 14px;
  color: gray;
  line-height: 1.6;
}

.recent-reply h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.recent-posts {
  margin-bottom: 30px;
  font-size: 14px;
  color: gray;
  line-height: 1.6;
}

.recent-posts h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.recent-posts .item {
  display: flex;
  height: 60px;
  margin-bottom: 15px;
}

.recent-posts .item img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.recent-posts .item .text {
  margin-right: 25px;
}

.recent-posts .item h4 {
  font-size: 13px;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 0;
}

.recent-posts .item p {
  font-size: 12px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.recent-notice {
  margin-bottom: 30px;
  font-size: 14px;
  color: gray;
  line-height: 1.6;
}

.recent-notice h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.tt_category {
  margin-bottom: 30px;
  font-size: 14px;
  color: gray;
  line-height: 1.6;

  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.tt_category .link_tit {
  color: #222;
  font-weight: bold;
}

.tt_category a:hover {
  color: #222;
  text-decoration: underline;
}

.tt_category .category_list {
  margin-top: 10px;
  color: #666;
}

.tt_category .category_list > li {
  margin-bottom: 10px;
}

.tt_category .sub_category_list {
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin-top: 10px;
}

.tt_category .sub_category_list li {
  margin-bottom: 4px;
  color: #aaa;
}

.taglog h3 {
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  color: #444;
}

.taglog ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
}

.taglog li {
  color: #666;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 4px 12px;
}

.taglog li:hover {
  text-decoration: underline;
  color: #222;
}

#tt-body-page main,
#tt-body-page aside {
  margin-top: 400px;
}

.post .thumbnail {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 340px;
  margin-top: -400px;
  object-fit: cover;
  filter: brightness(0.5);
}

.post .category {
  position: absolute;
  margin-top: -250px;
  color: white;
}

.post .title {
  position: absolute;
  margin-top: -200px;
  color: white;
}

.post .info {
  position: absolute;
  margin-top: -150px;
  color: #ccc;
}
